* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.wrapper {
    padding: 0;
    max-width: 1200px;
    font-size: 1em;
}

.header {
    background-color: #E4DBBF;
    color: #DC5B21;
    padding: 15px;
    height: 120px;
}

.menu {
    background-color: lightgray;

}

.menu a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.menu ul {
    padding: 0;
    margin: 5px;
}

.menu li {
    background-color: #6E8AC3;
    padding: 8px;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 10px;
}

a {color: #dddd;}

.content {
    padding: 10px;
    color: ghostwhite;
    text-align: left;
    background-color: #334873;;
}

.content a:hover {color: red;}
.content a:active {color: yellow;}
.content a:visited {color: darkorange;}

figure {
    float: left;
    margin-left: 0px;
    border: 3px solid beige;
}

.footer {
    background-color: #383127;
    color: #E4DBBF;
    padding: 15px;
    height: 100px;
    text-align: center
}

.comments {
    resize: vertical;
}


@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        margin: 0px auto;
        max-width: 1200px;
        height: auto;
    }

    .header {
        grid-row: 1 / span 1; grid-column: 1 / span 2;
    }

    .menu {
        padding: 15px;
        grid-row: 2; grid-column: 1;
    }

    .content {
        grid-row: 2; grid-column: 2;
    }

    .footer { grid-row: 3 / span 1; grid-column: 1 / span 2;}

}
