<!-- 

<header class="sticky-top">
    <div class="row">
    <div class="col-sm-8">
        <p class="logo">{{ appTitle }}</p>
    </div>
    <div class="col-sm-4" align="justify">
        <nav class="btn-group col-sm-6">
            <a routerLink="/"><button type="button" class="btn btn-outline-light btn-md">Home</button></a>
            <a routerLink="/products"><button type="button" class="btn btn-outline-light btn-md">Products</button></a>
            <a routerLink="/contact"><button type="button" class="btn btn-outline-light btn-md">Contact</button></a>         
        </nav>
    </div>

    </div>
</header>
 -->



<header class="sticky-top">
    <div class="row">
    <div class="col-sm-4">
        <a routerLink="/" class="logo" style="color: white;">{{ appTitle }}</a>
    </div>
    <div class="col-sm-4" align="justify left">
        <nav class="btn-group col-sm-6 justify-content-between">
            <a routerLink="/"><button type="button" class="btn btn-outline-light btn-md">Home</button></a>
            <a routerLink="/products"><button type="button" class="btn btn-outline-light btn-md">Products</button></a>
            <a routerLink="/contact"><button type="button" class="btn btn-outline-light btn-md">Contact</button></a>         
        </nav>
    </div>

    </div>
</header>
